body {
	font-size: 12px;
	font-family: sans-serif;
	background-color: #282c37;
	color:#FFFFFF;
}
h1 {
	background-color:rgb(68, 75, 93);
	padding: 5px;
	margin: 1px;
	font-size:20px;
}

table {
	border-collapse: collapse;
}
table td {
	border: 1px solid black;
	padding: 5px;
}
.container {
}

.instance_info {
	font-size: 20px;
}
#instance_info_domain {
	font-size: 30px;
	height: 32px;
}

.instance_info_submit {
	font-size: 30px;
	padding: 10px;
}

.cont_left {
	display: none;
	float: left;
	width: 430px;
}
.cont_right {
	display: none;
}
.cont_result_count {
	background-color:#000000;
}

#emoji_palette {
	width: *;
	padding: 5px;
	margin: 5px;
	height: 600px;
	overflow-y: scroll;
	border: 1px solid black;

}
#emoji_palette img {
	cursor: pointer;
}

#tiles {
	line-height: 0px;
	padding: 5px;
	background-color:rgb(57, 63, 79);
}

#tiles img {
	cursor: pointer;
}
#result {
	width: 420px;
	height: 180px;
	padding: 5px;
	font-size:12px;
}

