<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>カスタム絵文字でお絵かきツール</title>
<meta name="viewport" content="width=430">

<% if(production) { %>
<link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="./assets/jquery.min.js"></script>
<style type="text/css"><%- css %></style>
<% } else { %>
<link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="../assets/jquery.min.js"></script>
<link rel="stylesheet" href="./main.css">
<% } %>

</head>
<body>
<div class="container_intro">
<h1>カスタム絵文字でお絵かきツール</h1>
<div class="instance_info">
<h2>インスタンス</h2>
<div class="instance_info">
<input type="text" id="instance_info_domain" placeholder="mstdn.jp" size="24">　
<input type="submit" id="instance_info_submit" value=" 開 始 ">
<br>
</div>
<h3>カスタム絵文字APIが使用でき、:blank: 絵文字が定義されている必要があります。</h3>
</div>
</div>

<div class="container_loading">
<h1>カスタム絵文字でお絵かきツール</h1>
絵文字情報をロード中...
</div>

<div class="container_main">
<h1><span id="instance_domain"></span> カスタム絵文字でお絵かきツール</h1>
<div class="cont_left">
<div id="tiles"></div>
<textarea id="result"></textarea>
<div class="cont_ret_ctrl">
<div class="left">
<input type="button" id="bt_ret_copy" value="コピー"> 
<input type="button" id="bt_ret_share" value="シェア">
 | <input type="button" id="bt_load" value="読み込み">
<span class="emojimoji_btn"></span>
</div>
<div class="right">
<input type="button" id="bt_reset" value="リセット">
</div>
<div style="clear: both"></div>
</div>
<div class="cont_result_count">文字数: <span id="result_count">0</span></div>
</div>

<div class="cont_right">
<div class="cont_right_top">

<div class="left">

<span id="btn_blank" class="minibt"><i class="fa fa-square fa-x2" aria-hidden="true"></i></span>
<span id="btn_left"  class="minibt"><i class="fa fa-arrow-circle-left fa-x2" aria-hidden="true"></i></span>
<span id="btn_right" class="minibt"><i class="fa fa-arrow-circle-right fa-x2" aria-hidden="true"></i></span>
<span id="btn_up"    class="minibt"><i class="fa fa-arrow-circle-up fa-x2" aria-hidden="true"></i></span>
<span id="btn_down"  class="minibt"><i class="fa fa-arrow-circle-down fa-x2" aria-hidden="true"></i></span>


<span id="selected_shortname">-</span>
</div>

<div class="right">
<input type="text" id="text_search" placeholder="フィルタ">
<span id="bt_search_clear"><i class="fa fa-window-close" aria-hidden="true"></i></span>
</div>
<div style="clear: both"></div>
</div>
</div>

<div id="emoji_palette"></div>
</div>

<div style="clear:both"></div>
</div>

<div class="bottom">
<a href="https://github.com/mamemomonga/mastodon-custom-emoji-oekaki" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>　
<a href="https://theboss.tech/@mamemomonga" target="_blank"><i class="fa fa-child" aria-hidden="true"></i></a>
<% if(production) { %>　#<%= buildnum %> <% } %>
　　<a href="https://github.com/mamemomonga/mastodon-custom-emoji-oekaki/blob/master/MANUAL.md" target="_blank">使い方はこちら</a>
</div>

<% if(production) { %>
<script type="text/javascript">// <![CDATA[
<%- js %>
// ]]></script>
<% } else { %>
<script type="text/javascript" src="./app.js"></script>
<% } %>

</body>
</html>

