html {
	height: 100%;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background-color: #282c37;
	color:#FFFFFF;
	height: 100%;
}
a {
	color:#AAAAFF;
}

h1 {
	background-color:rgb(68, 75, 93);
	padding: 5px;
	margin: 2px;
	font-size:18px;
	font-weight: bold;
}

.container_intro {
	display: none;
	text-align: center;
	background-color:#000000;
	padding: 20px;
}

.container_intro h1 {
	padding: 20px;
	margin: 5px 5px 20px 5px;
}

.container_intro h2 {
	font-size:20px;
	margin: 10px;
}

.container_intro h3 {
	font-size: 14px;
	margin: 10px;
	padding: 10px;
}

.container_loading {
	display: none;
	text-align: center;
	background-color:#000000;
	font-size: 32px;
	padding: 20px;
}

.container_loading h1 {
	padding: 20px;
	margin: 5px 5px 20px 5px;
}

.instance_info {
	background-color:#000000;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}
#instance_info_domain {
	font-size:32px;
	height: 38px;
	width: 300px;
	margin: 0px;
}

#instance_info_submit {
	font-size:28px;
	width: 140px;
	height: 38px;
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
}

.container_main {
	display: none;
	background-color:#000000;
}

/*  --- */
.cont_left {
	float: left;
	height: 645px;
}

#tiles {
	width: 418px;
	height: 428px;
	padding: 4px 4px 4px 4px;
	background-color:rgb(57, 63, 79);
}

#tiles img {
	cursor: pointer;
}

#result {
	width: 414px;
	height: 130px;
	padding: 5px;
	font-size:12px;
	background-color:#FFFFFF;

}
.cont_ret_ctrl {
	padding: 5px;
	background-color:#666666;
}
.cont_ret_ctrl .left {
	float: left;
	vertical-align: middle;
}

.cont_ret_ctrl .cont_klg_btn {
	border: 1px solid red;
}


.cont_ret_ctrl .right {
	text-align: right;
}

.cont_result_count {
	padding: 5px;
	height: 18px;
	background-color:#000000;
}

/*  --- */
.cont_right {
	background-color:#000000;
}
.cont_right_top {
	overflow: hidden;
	padding: 5px;
	margin: 0px;
	background-color:#000000;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
}

#instance_domain {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
#selected_shortname {
	text-decoration: underline;
	cursor: pointer;
}

.cont_right_top .left {
	float: left;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin: 5px 0 0 5px;

}

.cont_right_top .left .minibt{
	cursor: pointer;
}

.cont_right_top .right {
	text-align: right;
}

#text_search {
	width: 110px;
}
#bt_search_clear {
	cursor: pointer;
	margin: 0px 10px 0 0;
}

#instance_domain {
	margin: 0 5px 0 5px;
}
#selected_shortname {
	margin: 0 5px 0 5px;
}
#emoji_palette {
	height: 600px;
	padding: 5px;
	margin: 0px;
	overflow-y: scroll;
	border: 2px solid #000000;
	background-color:rgb(57, 63, 79);
}
#emoji_palette img {
	cursor: pointer;
}

.bottom {
	font-size: 10px;
	padding: 10px;
	text-align: center;
	background-color:#222222;
}
.bottom .fa {
	font-size:18px;
}
.bottom a {
	color:#FFFFFF;
	text-decoration: none;
}

