html {
	height: 100%;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background-color: #282c37;
	color:#FFFFFF;
	height: 100%;
}
a {
	color:#AAAAFF;
}

h1 {
	background-color:rgb(68, 75, 93);
	padding: 5px;
	margin: 2px;
	font-size:18px;
	font-weight: bold;
}
.container {
	background-color:#000000;
}

.instance_info {
	background-color:#000000;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}
#instance_info_domain {
	font-size:32px;
	height: 38px;
	width: 300px;
	margin: 0px;
}

#instance_info_submit {
	font-size:28px;
	width: 140px;
	height: 38px;
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
}


.cont_right {
	display: none;
	background-color:#000000;
}
#emoji_palette {
	padding: 5px;
	margin: 0px;
	height: 600px;
	overflow-y: scroll;
	border: 2px solid #000000;
	background-color:rgb(57, 63, 79);
}
#emoji_palette img {
	cursor: pointer;
}

/*  --- */
.cont_left {
	display: none;
	float: left;
	width: 428px;
	height: 614px;
}

#tiles {
	top: 0;
	left: 0;
	width: 428px;
	height: 428px;
	padding: 4px;
	background-color:rgb(57, 63, 79);
}

#tiles img {
	cursor: pointer;
}

#result {
	padding: 5px;
	font-size:12px;
	background-color:#AAAAAA;
	width: 420px;
	height: 110px;

}
.cont_ret_ctrl {
	padding: 5px;
	background-color:#666666;
}
.cont_result_count {
	padding: 5px;
	font-size:12px;
	background-color:#000000;
	vertical-align: middle;
}

